/*
  at-fhir-ig-template enhancements
*/

.grid {
  border: 0px !important;
  width: 100% !important;
}

table .grid {
  border: 0px !important;
  width: 100% !important;
}

table .grid  th, td {
    padding: 6px !important;
    padding-bottom: 0px !important;
    text-align: left !important;
    border: 0px !important;
    border-bottom: 1px solid #ddd !important;
}

table .grid  tr:hover {
  background-color: #f5f5f5 !important;
}

table .grid tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}